.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    z-index: 1000;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .visible {
    display: block;
  }
  
  .invisible {
    display: none;
  }
  
  .alert {
    display: flex;
    flex-direction: column;
  }

  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: auto;
    color: #333;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon-success,
  .icon-error {
    font-size: 40px;
  }
  
  .content {
    flex-grow: 1;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  
  .success {
    background-color: #4CAF50;
  }
  
  .error {
    background-color: #f44336;
  }
  
  .message {
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
  }
  