.main-container-home {
  padding: 5px;
}

.cards-container-home {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.title-home{
  text-align: center;
  margin-bottom: 10px; 
  color: black;
}

.terreno-card {
  flex: 0 0 calc(30% - 20px); 
  margin-bottom: 20px;
  box-sizing: border-box;
}

.terreno-card img {
  width: 100%;
  border-radius: 10px; 
}

@media (max-width: 1024px) {
  .terreno-card {
    flex: 0 0 calc(45% - 20px); 
  }
}

@media (max-width: 768px) {
  .terreno-card {
    flex: 0 0 calc(100% - 20px); 
  }
}
