.inicio-sesion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .imagen-container {
    flex: 1;
    text-align: center;
  }
  
  .imagen-container img {
    width: 100%;
    max-width: 300px;
  }
  
  .formulario-container {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-right: 80px;
    order: 2;
  }
  
  .formulario-container h2 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .botones-container {
    display: flex;
    flex-direction: column;
  }
  
  button {
    padding: 10px;
    background-color: #fa6900;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  @media (max-width: 640px) {
    .imagen-container {
      display: none; 
    }
  
    .formulario-container {
      padding: 40px; 
    }
  }
  