.menu {
    position: fixed;
    top: 40px;
    right: 60px; 
    width: 180px;
    height: auto;
    background-color: white;
    color: #fa6900;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
    color: black;
  }
  
  .menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  
  .menu a.color-link {
    color: #949393;
  }

  .menu a:hover {
    color: #E49962;
  }
  .menu.open {
    transform: translateX(0);
  }
  
  .close-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: black;
  }