.main-header-welcome {
  background-color: white; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  color: #000000; 
  /* Para que no se mueva el navbar */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);; 
}

.header-left-welcome {
  display: flex;
  align-items: center;
}

.header-logo-welcome {
  width: 40px;
  height: 40px;
  margin-right: 10px; 
}

.app-title-welcome {
  flex-grow: 1; 
  font-size: 20px;
  font-weight: bold;
  color: #fa6900;
  text-decoration: none; 
}

.menu-icon-welcome {
  font-size: 25px;
  cursor: pointer;
  color: #fa6900;
  margin-right: 10px; 
  margin-left: 10px;
}

.header-right-welcome {
  display: flex;
  align-items: center;
}

.user-display-welcome {
  font-size: 14px;
  font-weight: bold;
  color: #fa6900; 
  margin-right: 100px;
}

.email-display-welcome {
  font-size: 16px;
  color: #000000; 
}

.user-icon {
  margin-right: 5px; 
}

.app-logo-navbar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 5px;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit; 
}

.user-display-welcome a {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  padding: 10px 13px; 
  text-decoration: none;
  background-color: #fa6900;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.user-display-welcome a:hover {
  background-color: #fff;
  color: #fa6900;
}


.menu-icon {
  display: none;
}  

@media (max-width: 640px) {
  .header-right-welcome {
    display: none;
  }

  .navbar-right li {
    margin: 10px 0;
  }
  .menu-icon-welcome {
    font-size: 25px;
    display: block;
    margin-right: 10px; 
  }

  .menu-icon {
    font-size: 30px;
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding-right: 20px;
    margin-right: 20px;
    color: #fa6900; 
  }    
    .ocultar{
    display: none; 
  }

}
