.input-buscador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #f0f0f0;
    border: 1px solid #f0f0f0; */
    border-radius: 10px;
    padding: 25px;
    width: auto;
    height: 50px; 
    margin: 0 auto;
    margin-bottom: 10px;
    /* margin-top: 10px; */
  }
  
  .custom-input {
    flex-grow: 1;
    border: none; 
    outline: none; 
    padding: 8px;
    border-radius: 10px;
    margin-right: 10px; 
    height: 40px; 
    font-size: 15px;
    border: 1px solid #ccc;
  }
  
  .input-buscador button {
    background-color: #fa6900;
    height: 45px; 
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .input-buscador button:hover {
    background-color: #fa6900;
  }
  
  
  @media (max-width: 640px) {
    .input-buscador {
        width: 200px;
        justify-content: flex-start; 
        margin-right: 100px;
      }
  }
  